@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; /*Koristenje varijable*/
  background-color: #fefefe; 
}

#wrapper {
    background-color: #fefefe;
    width: 100%; 
    display: grid;
    grid-template-columns: 35% 65%;
}

input[type="text"] {
    min-width:70%;
}

/*Glavni sadrzaj CSS*/

#glavniSadrzaj {
    background-color: #8d8d8d; 
    text-align: center;
    padding-bottom: 60px;
}

.folder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 5%;
    grid-gap: 25px;
}

.godina {
    background-color: #4fa3c1;
    color: white;
    padding: 5px;
    width: 180px;
}

em {
    text-decoration: underline;
    font-size: 13px;
}

h3 {
    text-align: center;
    font-size: 16px;
}

p {
    font-size: 13px;
}

ul {
    background-color: #fefefe;
    border: 1px solid  #8d8d8d;
    width: 45%;
    padding: 8px;
    text-align: left;
}

li {
    list-style-type: none;
}

/*Side CSS*/

#side {
    padding-top: 25px;
    height: 100vh;
    background-color: #fefefe
}

form {
    padding: 10px 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin:0 0 30px 0;
}

p {
   text-align: left; 
}


select, input[type="text"] {
    padding: 8px;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}

.btn {
    display: inline-block;
    width:40%;
    min-width: 60px;
    font-size: 16px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    padding: 5px 5px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/  
}

.unesi {
    float: right;
}

/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {
    #wrapper {
        background-color: #fefefe;
        width: 100%; 
        display: grid;
        grid-template-columns: 100%;
    }
    #side {
        width:100%;
    }

    #glavniSadrzaj {
        width:100%;
    }
}
