@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color: #fefefe;  
}

#glavniSadrzaj {
    width:85%;
    /*Vertikalno centriranje*/
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #dee4ed;
    margin-bottom: 30px;
}

#f1, #f2, #f3 {
    margin: 25px;
    border: 1px solid #8d8d8d;
    padding: 50px;
    max-width: 500px;
}


h2 {
    text-align: center;
    font-size: 20px;
    margin:0 0 30px 0;
}

select, input[type="text"] {
    min-width: 70%;
    padding: 8px;
}

#dodajZadatak {
    min-width: 50%;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}

.btn {
    display: block;
    font-size: 14px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    text-align: left;
    padding: 5px 30px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/
    width: auto;
    float: right;
}

.dz {
    padding: 5px 5px;
    text-align: center;
}

ul {
    background-color: #fefefe;
    border: 1px solid #8d8d8d;
    width: 45%;
    padding: 8px;
}

li {
    list-style-type: none;
}

/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {
  #glavniSadrzaj {
    width:100%;
    background-color: #dee4ed;
    }
}
