@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color:#fefefe; 
  height: 100%; 
}

input[type="text"], input[list="lista"]{
    min-width: 70%;
}


#glavniSadrzaj {
    width: 85%;
    height: 100%; 
    /*Vertikalno centriranje*/
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #dee4ed;
    margin-bottom: 30px;
}

h2 {
    text-align: center;  
}

form {
    max-width: 500px;
    text-align: left;
    margin: 20px;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}

.btn {
    display: block;
    font-size: 16px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    text-align: left;
    padding: 5px 30px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/
    width: auto;
    float: right;

}


#naziv, #tekst, #vjezbe {
    margin: 40px;
}

input {
    margin-top: 20px;
    padding: 10px;
}

#noviZadatak {
    border: 1px groove;
    margin: 30px 50px;
    padding: 50px;
}

/*Manja rezoucija*/
/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {  
  #glavniSadrzaj{
    width:100%;
  }
}


