@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color: #fefefe;  
  margin: 0;
}

#wrapper {
  background-color: #fefefe; 
}

p {
  margin: 30px 0 0 60px;
  line-height: 3em;
}

table {
  margin: 30px 0 60px 60px;
}

th, td {
  text-align: center;
  
}

form {
	border: 1px solid #8d8d8d;
  padding: 0px 20px;
  margin: 30px 60px 60px 60px; 
  min-width: 300px;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}

.btn {
    display: block;
    font-size: 16px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    text-align: left;
    padding: 5px 30px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/
    width: auto;

}

.divTable{
  display: table;
  width: 80%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 3px 10px;
}




