@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color:#fefefe;  
  margin: 0;
}


#header, #footer, #meni {
  width:100%;
  background-color: #4fa3c1;
  padding: 0; margin: 0;
}

#logo {
  text-align: left;
  margin: 20px 0 0 20px;
  width: 50px;
  height: 50px;
}

h1 {
  text-align: right;
  position: absolute;
  top: 5px;
  margin: 0;
  right: 20px;
  color: #fefefe;
}

#meni {
  padding-bottom: 20px;
  margin-top: 15px;
}

#meni a {
  padding: 15px 20px;
}

#footer {
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 6px 0; 
}

a {
  text-decoration: none;
  color: white;
}

#header a:hover {
    color: black;
    background: #dee4ed;
}

/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {
  h1 {
      text-align: center; 
      margin: 10px;
      color: #fefefe;
      position: static;
      margin: 0;
  }

  #meni a {
    padding: 0px 5px 5px 0px;
  }
}