@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color: #122b39;  
  width: 100%;
}


input[type=button] {
	font-family: 'Poppins', sans-serif; 
}


#login {
	display: table;
	/*Vertikalno i horizontalno centriranje*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  border: 3px groove #dee4ed;
	background: #dee4ed;
	height: 25%;
	width: 50%;
	max-width: 450px;
	padding: 50px 30px;
	
}

.row {
	display: table-row;
}

.col1 {	
  	display: table-cell;
   	text-align: right;
   	width: 25%;
   	padding-right: 3%;
 }

 .col2 {
  	display:table-cell;
   	width: 50%;
 }

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}


.btn {
    display: block;
    font-size: 16px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    text-align: right;
    padding: 5px 30px;
    margin-left: 15%;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/

}



