@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');


body {
  font-family: 'Poppins', sans-serif; 
  background-color:#fefefe;
}

nav {
  padding: 20px;
}

table {
  width: 75%;
  margin: 10%;
}


.wrapper {
  float:left;
  width: 100%;
}

#side {
  width: 35%;
  height: 100vh;
  float: left;
  text-align: center;
  background: #dee4ed;
}

#glavniSadrzaj {
  width: 65%;
  height: 100vh;
  float: left;
  background: #fefefe;
}

h2 {
  font-size: 18px;
}

/*Lista godina*/
ul {
  width: 60%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 5%;
  background: #fefefe;
  border: 1px solid #aaa;
  text-align: left;
}

li {
  list-style: none;
  padding-top: 5px;
}


/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {
  #side {
    width: 100%;
    float: left;
    text-align: center;
    background: #dee4ed;
  }

  #glavniSadrzaj {
    width: 100%;
    float: left;
    background: #fefefe;
  }

}









