table {
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #4fa3c1;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dee4ed;
}

tr:hover {
  background-color: #4fa3c1;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #122b39;
  color: #fefefe;
}