@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif; 
  background-color:#fefefe;  
  margin: 0;
  height: 100%;
}

#wrapper {
  background-color: #fefefe;
  width: 100%; 
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.cetvrtina {
  padding-top: 15%;
  border: 1px solid #dee4ed;
}

.polovina {
  border: 1px solid #dee4ed;
}

h2 {
  font-size: 20px;
  text-align: center;
}

/*Lista godina*/
ul {
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 5%;
  background: #fefefe;
  border: 1px solid #aaa;
  text-align: left;
  padding-left: 5px;
}

li {
  list-style: none;
  padding-top: 5px;
  font-size: 0.9em;

}

/*Horizontal align input*/
 input[type="text"] {
    display: block;
    margin : 0 auto;
    width: 90%;
}

 input[type="submit"] {
    display: block;
    margin : 10px auto;
}

.btn:hover {
    text-decoration: none;
    opacity: 0.75;
}

.btn {
    display: block;
    font-size: 16px;
    font-weight: 800;
    background: #4fa3c1;
    color: #fefefe;
    text-align: left;
    padding: 5px 30px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.6); /*bacanje sjene*/
    width: auto;
}

/*Folderi*/

.folder {
  margin: 10% 3%;
  border: 1px groove gray;
  background-color: #dee4ed;
  overflow: hidden;
  overflow-y: scroll;
}

.omotFolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 5%;
  align-items: center;
}

.item {
  background-color: #4fa3c1;
  color: white;
  text-align: center;
  padding: 25% 0;
  width: 80px;
  
}


/*Manja rezoucija*/
/*Za urednjaje sa rezolucijom manjom od 600px naziv ispod meni-a*/
@media only screen and (max-width: 600px) {  
  #wrapper {
    background-color: #fefefe;
    float: left;
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .cetvrtina {
    height: 100vh;
    border: 1px solid #dee4ed;
  }

  .polovina {
    height: 100vh;
    grid-column: span 2;
    border: 1px solid #dee4ed;
  }
}







